# Ignore all
/*


## Unignore the following extensions
!*.h
!*.cc
!*.cpp
!*.sh
!*.MD
!*.py

# Unignore the following files
!CMakeLists.txt
!CMakeLists.txt.in
!.gitignore

# Unignore source code directories
!benchmark/
!cmake
!common/
!core/
!database/
!protocol/
!test/
